<div class="header">
  <h1>Makers-BnB</h1>
  <p>View Available spaces here!</p>
</div>

 <div class="space-content">
  <form class="space-form" action="/availability" method="post">
    Start date:
    <input type="date" name="start" id="start"/>
    End date:
    <input type="date" name="end" id="end"/>
    <input type="submit" value="Show Available Rooms"/>
  </form>

  <% @rooms.each do |data|%>
   <div class="space-list">
     <h3 class="space-title"><%= data["name"]%></h3>
     <p class="">Location: <%= data["address"]%></p>
     <p class="">Price per night: <%= data["pricepernight"]%></p>
     <p class="">Description: <%= data["description"]%></p>
     <form action="/payments">
     <input type="submit" name="book" value="Book space">
     </form>
      </div>
      <% end %>
</div>
