<head>
  <link rel="stylesheet" type="text/css" href="theme.css">
</head>
<body>
<div class="header">
   <h1>Makers-BnB</h1>
   <p>View Available spaces here!</p>
 </div>

 <div class="space-content">
   <form class="space-form" action="" method="post">
     <label for="Available from">Start date (DD/MM/YY)</label>
     <input type="date" id="start" name="trip-start"
    value="2018-11-13"
    min="2018-01-01" max="2018-12-31">

    <label for="Available from">End date (DD/MM/YY)</label>
    <input type="date" id="start" name="trip-start"
   value="2018-11-13"
   min="2018-01-01" max="2018-12-31">
   <input type="submit" value="Search">
   </form>

   <div class="space-list">
     <h3 class="space-title">Harry potters house</h3>
     <p class="">Posted by: Harry Potter</p>
     <p class="">Location: Hogwarts </p>
     <p class="">Price per night: £100</p>
     <p class="">Description: It's a famous place so book it</p>
     <form action="/spaces/new">

     <input type="submit" name="book" value="Book space">
     </form>
      </div>

   <div class="space-list">
     <h3 class="space-title">Harry potters house</h3>
     <p class="">Posted by: Harry Potter</p>
     <p class="">Location: Hogwarts </p>
     <p class="">Price per night: £100</p>
     <p class="">Description: It's a famous place so book it</p>
     <form action="/spaces/new">

     <input type="submit" name="book" value="Book space">
   </form>

   </div>

   <div class="space-list">
     <h3 class="space-title">Harry potters house</h3>
     <p class="">Posted by: Harry Potter</p>
     <p class="">Location: Hogwarts </p>
     <p class="">Price per night: £100</p>
     <p class="">Description: It's a famous place so book it</p>
     <form action="/spaces/new">

     <input type="submit" name="book" value="Book space">
     </form>
      </div>

   <div class="space-list">
     <h3 class="space-title">Harry potters house</h3>
     <p class="">Posted by: Harry Potter</p>
     <p class="">Location: Hogwarts </p>
     <p class="">Price per night: £100</p>
     <p class="">Description: It's a famous place so book it</p>
     <form action="/spaces/new">

     <input type="submit" name="book" value="Book space">
     </form>
      </div>

 </div>
</body>
