<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <div class="display-container" style="margin-bottom:50px">
    <img src="https://thewindowsclub-thewindowsclubco.netdna-ssl.com/wp-content/uploads/2010/04/a2.png" style="width:100%">
    <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
     style="bottom:10%;opacity:0.7;width:70%">
    <h2><b>wrong username<br>or password </b></h2>
  </div>
