<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="display-container" style="margin-bottom:50px">
  <img src="https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1458067297/airbnb-introvert-GUIDE0316.jpg?itok=YM2fmQI8" style="width:100%">
  <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
   style="bottom:10%;opacity:0.7;width:70%">
  <h2><b>4 Good Reasons<br>For Booking with us</b></h2>
</div>
</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber">
    <img src="https://i2.wp.com/www.dandywithlens.com/wp-content/uploads/2018/01/plan-your-vacation-e1516988751312.jpg?fit=800%2C533&ssl=1" style="width:100%">
    <h2>Smart Vacation</h2>
    <p>Full Booking control from your cell phone.</p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-amber">
    <img src="https://img.freepik.com/free-vector/colorful-shopping-sale-banner-template_1201-1308.jpg?size=338&ext=jpg" style="width:100%">
    <h2>Super Offers</h2>
    <p>Up to 50% offers. Always 25% student offers.</p>
  </div>
</div>
</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange">
    <img src="https://www.telegraph.co.uk/content/dam/Travel/2017/june/car-hire-AP-TRAVEL.jpg?imwidth=450" style="width:100%">
    <h2>Car Rental Included</h2>
    <p>Wherever you book our car rental is included.</p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-orange">
    <img src="https://www.telegraph.co.uk/content/dam/Travel/hotels/asia/cambodia/navatu-dreams-resort-siem-reap-l-xlarge.jpg" style="width:100%">
    <h2>Realize Your Dreams</h2>
    <p>Don't wait until it is to late.</p>
    </div>
</div>
</div>

</body>
</html>
