<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/theme.css">
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/signup">Login</a>
    <a href="/space/new">Post a space</a>
    <a href="/space">Buy a space</a>
    <form class="" method='post' action='/logout'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Log Out'>
    </form>
  </div>
  <%= yield %>

  
</body>
</html>
