<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/theme.css">
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
     <a href="/signup">Login</a>
     <a href="/spaces/new">Post a space</a>
     <a href="/spaces/availability">Buy a space</a>
    <form action="/logout" method="post">
      <input type='submit' value='Log Out'>
    </form>
  </div>
  <%= yield %>

  <div class="footer">
    <p>&copy; 2017 - 2018 The Second Best Team 😎 All Rights Reserved</p>
  </div>
</body>
</html>