<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
  <title>Makers-Bnb</title>
=======
  <title>Makers BnB</title>
>>>>>>> 6f0c101178ec0296662426771a128b96da8c51e6
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" type="text/scss" href="style/theme.scss"> -->
  <link rel="stylesheet" type="text/css" href="styles/theme.css">
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
     <a href="/signup">Sign up</a>
     <a href="/signin">Login</a>
<<<<<<< HEAD
=======
     <a href="/availability">Rent a space</a>
>>>>>>> 6f0c101178ec0296662426771a128b96da8c51e6
  </div>
  <%= yield %>
  <div class="footer">
  <p>&copy; 2017 - 2018 The Second Best Team 😎 All Rights Reserved</p>
 </div>
<<<<<<< HEAD
</body>
</html>
=======
 </body>
 </html>
>>>>>>> 6f0c101178ec0296662426771a128b96da8c51e6
