<div class="row">
  <div class="column side">
    <h2>Side</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
  </div>
  <div class="column middle">
    <center>
    <h2 class="heading">Make your own room!</h2>
    <form action="/new" method="post">
    <table style="width:200">
      <tr>
        <th><span class="">Room info</span></th>
        <th>
          <input type="text" name="name" placeholder="Name" required="true" /><br>
          <input type="text" name="desc" placeholder="Description" required="true" /><br>
          <input type="text" name="ppn" placeholder="Price per Night" required="true" /><br>
        </th>
      </tr>
          <tr>
  			    <th><span class="">Address</span></th>
        		<th>
              <input type="text" name="adr1" placeholder="Address Line 1" required="true"/><br>
              <input type="text" name="adr2" placeholder="Address Line 2" required="true"/><br>
              <input type="text" name="adr3" placeholder="Address Line 3" required="true"/><br>
              <input type="text" name="postcode" placeholder="Post code" required="true"/><br>            
            </th></tr>
    </table>
    <input type="submit" value="Share my room!" />
    </form>
    </center>
  </div>

  <div class="column side">
    <h2>Side</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
  </div>
</div>

