<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="theme.css">
</head>
<title>Makers-Bnb</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <div class="display-container" style="margin-bottom:50px">
    <img src="https://i.stack.imgur.com/gqKFh.png" style="width:100%">
    <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
     style="bottom:30%;opacity:0.7;width:70%">
    <h2><b>your login details were<br>successful </b></h2>
  </div>
