<!DOCTYPE html>
<html lang="en">
<head>
<title>Makers-BnB</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link src="StyleSheet" rel="stylesheet" type="text/css">
</head>

<body>

<div class="header">
  <h1>Makers-BnB</h1>
  <p>Book your space here!</p>
</div>

<div class="topnav">
  <center> <a href="http://localhost:8080/">Home</a>
  <a href="http://localhost:8080/signup?">Login</a>
  <a href="http://localhost:8080/signup?">Post a space</a>
  <a href="http://localhost:8080/signup?">Buy a space</a>

  </center>
</div>

<div class="row">
  <div class="column side">
    <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/432ParkNov2017.jpg/240px-432ParkNov2017.jpg" width="270" height="400">
    </p>
  </div>
  <div class="column middle">
      <form action="/login" method="post">
      <center>
        <h2> Sign in: </h2>
        <input type="text" name="si_username" placeholder="username" />
        <input type="password" name="si_password" placeholder="password" />
        <input type="submit" value="Submit" /> </center>
        </form>

        <center>
        <h2> Create account: </h2>
        <form action="/signup" method="post">
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="Submit" /> </center>
      </form>
  </div>

  <div class="column side">
    <p><img src="https://cdn.freshome.com/wp-content/uploads/2015/11/modern-home-182.jpg"  width="270" height="400">
  </div>
</div>

</body>
</html>
