<div class="header">
  <h1>Makers-BnB</h1>
  <p>Sign up to MakersBnB!</p>
</div>
<div class="row">
  <div class="column side">
    <h2></h2>
    <p></p>
  </div>
  <div class="column middle">
    <center>
    <h2> Create Account: </h2>
    <form action="/signup" method="post">
    <input type="text" name="useremail" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <input type="submit" value="Submit" />
    </form>
    </center>
  </div>

  <div class="column side">
    <h2></h2>
    <p></p>
  </div>
</div>
