<div class="header">
  <h1>Makers-BnB</h1>
  <p>User portal</p>
</div>

<div class="space-content">
  <p class="sub">Current spaces listed</p>
  <div class="users">
    <h3 class="space-title">Harry potters house</h3>
    <p class="">Posted by: Harry Potter</p>
    <p class="">Location: Hogwarts </p>
    <p class="">Price per night: £100</p>
    <p class="">Description: It's a famous place so book it</p>
    <form action="#">

      <input class="delete" type="submit" name="Delete" value="Delete space">
      <input class="edit" type="submit" name="Edit" value="Edit space">
    </form>
  </div>

  <div class="space-content">
    <p class="sub">Pending requests</p>
    <div class="users">
      <h3 class="space-title">Harry potters house</h3>
      <p class="">Posted by: Harry Potter</p>
      <p class="">Location: Hogwarts </p>
      <p class="">Price per night: £100</p>
      <p class="">Description: It's a famous place so book it</p>
      <form action="#">

        <input class="accept" type="submit" name="Accept" value="Accept request">
        <input class="decline" type="submit" name="Decline" value="Decline request">
      </form>
    </div>

</div>
