<!DOCTYPE html>
<html lang = "eng">
<head>
  <title>Makers-BnB</head>
    <meta charset = "utf-8">
    <link src = "StyleSheet" rel = "stylesheet" type = "text/css">
  </head>

<body>
  <div class = "Header">
    <h1>Makers-BnB</h1>
    <p>Welcome to the User Portal</p>
  </div>
  
