<body>
   <h1>Add Space</h1>
   <form action="/spaces" method="post">
     <label for="name">
       Name: <input type="text" name="name">
     </label>
     <label for="description">
       Description: <input type="text" name="description">
     </label>
     <label for="price">
       Price: <input type="number" name="price">
     </label>
       Date From: <input type="text" name="available_from">
     </label>
     <label for="available_to">
       Date To: <input type="text" name="available_to">
     </label>
     <input type="submit" value="List my Space">
   </form>
 </body>
